.section1__label {
  font-size: 18px;
  font-weight: 900;
  opacity: 0.3;
}

.section1__name {
  font-size: 60px;
  font-weight: 900;
}

.section1 {
  height:100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paralax{
  position: absolute;
  width: 100%;
  z-index: -1
}