.header
    .header__my-link ПВ
    .header__navigate
        each nav_item in [{link:'',name:'main',title:'Главная'},{link:'',name:'about-me',title:'Обо мне'},{link:'',name:'skills',title:'Навыки'},{link:'',name:'works',title:'Работы'},{link:'',name:'reviews',title:'Отзывы'},{link:'',name:'contact',title:'Связаться'}]
            .header__navigate__item
                .header__navigate__link
                    a(class=`header__navigate__${nav_item.name}__link`)=nav_item.title
        //- .header__navigate.header__navigate__about-me
        //-     a.header__navigate__about-me__about-me Обо мне
        //- .header__navigate.header__navigate__skills
        //-     a.header__navigate__skills__link Навыки
        //- .header__navigate.header__navigate__works
        //-     a.header__navigate__works__link Работы
        //- .header__navigate.header__navigate__reviews
        //-     a.header__navigate__reviews__link Отзывы
        //- .header__navigate.header__navigate__contact
        //-     a.header__navigate__contact__link Связаться
    .header__socials
        .header__socials__item
            a(class=`socials__link socials__link__vk` href='#')
                svg.socials__link.social-icon
                    use(xlink:href="./sprite.svg#vk")
        .header__socials__item
            a(class=`socials__link socials__link__insta` href='#')
                svg.socials__link.social-icon
                    use(xlink:href="./sprite.svg#insta")
        .header__socials__item
            a(class=`socials__link socials__link__github` href='#')
                svg.socials__link.social-icon
                    use(xlink:href="./sprite.svg#github")                        