heder.header
    .header__my-link ПВ
    ul.header__navigate
        each nav_item in [{link:'#section1',name:'main',title:'Главная'},{link:'#section2',name:'about-me',title:'Обо мне'},{link:'#section3',name:'skills',title:'Навыки'},{link:'#section4',name:'works',title:'Работы'},{link:'#section5',name:'reviews',title:'Отзывы'},{link:'#section6',name:'contact',title:'Связаться'}]
            li.header__navigate__item
                a(class=`header__navigate__${nav_item.name}__link header__navigate__link` href=`${nav_item.link}`)=nav_item.title
    ul.header__socials
        li.header__socials__item
            a(class=`socials__link socials__link__insta` href='#' target="_blank")
                svg.socials__link.social-icon
                    use(xlink:href="./sprite.svg#insta")
        li.header__socials__item
            a(class=`socials__link socials__link__vk` href='#'  target="_blank")
                svg.socials__link.social-icon
                    use(xlink:href="./sprite.svg#vk")
        li.header__socials__item
            a(class=`socials__link socials__link__github` href='https://github.com/Spartanec-kop/Varnavskii-ls' target="_blank")
                svg.socials__link.social-icon
                    use(xlink:href="./sprite.svg#github")                        