.section.section4
  .section4-title Мои работы
  .section4-body
    .slider
    .description
      .description-tags
        ul.tags-items
          li.tag
            .tag-text HTML
          li.tag
            .tag-text CSS
          li.tag
            .tag-text javascript
      .description-title 
        span Сайт школы
        br
        span образования
      .description-body
        span Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!  
      .description-link
        a.site(href='#')
          svg.site-link
            use(xlink:href="./sprite.svg#link")
          span.site-link-title Посмотреть Сайт
