.section.section2#section2   
    .about-card
        .section2__hello__my-photo(align="right")
            +image('content/user.jpg', 'user-pic')
        .section2__legend__legend(align="right")
            table.section2__legend__legend_table
                tr
                    td.section2__legend__legend_label Проживаю:
                    td.section2__legend__legend_value Челябинск
                tr
                    td.section2__legend__legend_label Возраст:
                    td.section2__legend__legend_value 30 лет
                tr
                    td.section2__legend__legend_label Родился:
                    td.section2__legend__legend_value 13 июня 1989   
    .section2__hello__about-me
        .section2.section2__hello
            span.section2__hello__hello Привет, меня зовут           
        .section2__hello__about-me__my-name Павел Варнавский           
        .section2__hello__about-me__my-working
            span я занимаюсь разработкой современных сайтов и приложений.
            br
            span мне нравится делать интересные и современные проекты.
        
        .section2__row.section2__legend
            .star *
            .section2__legend__description Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. а пока посмотрите, как тут все класно и красиво.