.section.section3#section3
    .container       
        .section3_body
            .bag
                +image('content/bag.png', 'bag')
            .section3__desc
                .section3__title
                    h2.section-title.section3__title-text Чем я могу быть полезен вам
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!  
    .skills
        .skills__title
        .skills__description
        .skills__present