.section.section4
  .container
    .section4-title#section4 Мои работы
    .section4-body#section4-body
      myWorks
      .description
        .description-tags
          ul.tags-items
            li.tag
              .tag-text HTML
            li.tag
              .tag-text CSS
            li.tag
              .tag-text javascript
        .description-title 
          span Сайт школы
          span образования
        .description-body
          span Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!  
        .description-link
          a.site(href='#')
            svg.site-link
              use(xlink:href="./sprite.svg#link")
            span.site-link-title Посмотреть cайт  