.container
  .connect
    .connect-title#section6 Связаться со мной
    .connect-body
      form.connect-form(action="")
        .person-info
          .person-info-name  
            label.person-info-label(for="connect-name") Введите ваше имя          
            .person-info-name-icon
              svg.connect-icon.person-info-name-icon-icon
                use(xlink:href="./sprite.svg#user")
              input.connect-input.person-info-name-input#connect-name(type="text")                        
          .person-info-mail
            label.person-info-label(for="connect-mail") Введите ваш email
            .person-info-mail-icon
              svg.connect-icon.person-info-mail-icon-icon
                use(xlink:href="./sprite.svg#envelope")
              input.connect-input.person-info-mail-input#connect-mail(type="text")          
        .connect-message
          label.person-info-label(for="connect-message-text") Сообщение к письму
          .connect-message-text-icon
            svg.connect-icon.connect-message-text-icon-icon
              use(xlink:href="./sprite.svg#message")
            textarea.connect-input.connect-message-text#connect-message-text
        //-.connect-send
        button.send-form Отправить