.container
  .fullscreen-section.section1#section1
      include ./header
      .section1__body
          .section1__label 
              span Личный сайт
              br 
              span веб разработчика
          .section1__name 
              span Павел 
              br
              span Варнавский
      .section1.scroll
          a.scroll-link(href='#section2')               
              .scroll__label 
                  .scroll_text Скролл
                  svg.scroll__icon__svg
                      use(xlink:href="./sprite.svg#scroll")        