.comments
  .container  
    .comments-title#section5
      .comments-title-text Что обо мне говорят
      .comments-buttons
        button.comments-button-left
          svg.comments-button-left-icon
            use(xlink:href="./sprite.svg#arrow-down")
        button.comments-button-right
          svg.comments-button-right-icon
            use(xlink:href="./sprite.svg#arrow-down")
    .comments-body
      -var comments=[{name:'Ковальчук Дмитрий',avatar:'kovalchuc',position:'Основатель LoftSchool',text:'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!'},{name:'Владимир Сабанцев',avatar:'sabancev',position:'Преподаватель',text:'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах'}];
      .comments-items
        each item in comments
          .comment-item
            .comment-item-apos
              svg.comment-item-apos-icon
                  use(xlink:href="./sprite.svg#quote")
            .comment-item-body
              .comment-item-text
                p #{item.text}
              .comment-item-person
                .comment-item-person-avatar
                  +image(`content/${item.avatar}.jpg`, 'avatar-img')
                .comment-item-person-Name
                  span.person-Name #{item.name}
                  br
                  span.person-position #{item.position}  