.container
  .section.section4
    .section4-title Мои работы
    .section4-body
      .slider
        .slider-main-window
          +image('content/1.jpg', 'sl-img main-img')
        .slider-tape
          .preview.preview1  
            +image('content/2.jpg', 'sl-img img1')       
          .preview.preview2
            +image('content/3.jpg', 'sl-img img1')
          .preview.preview3
            +image('content/4.jpg', 'sl-img img1')
          .preview.preview4
            +image('content/5.jpg', 'sl-img img1')
        .slider-buttons
          button.slider-button.slider-button__up &#8743
          button.slider-button.slider-button__down &#8744
        .number 4
      .description
        .description-tags
          ul.tags-items
            li.tag
              .tag-text HTML
            li.tag
              .tag-text CSS
            li.tag
              .tag-text javascript
        .description-title 
          span Сайт школы
          br
          span образования
        .description-body
          span Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!  
        .description-link
          a.site(href='#')
            svg.site-link
              use(xlink:href="./sprite.svg#link")
            span.site-link-title Посмотреть cайт  