
.section.section3   
    .section3_body#section3
        .bag
            +image('content/bag.png', 'bag-img')
        .section3__desc
          .section3__title
            h2.section3__title-text Чем я могу быть полезен вам
            p.section3-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!  
          .skills
              - var skills = {frontend:{title:'Fron-end',skills:{html:{title:'HTML5',skillCount:50},css:{title:'CSS3',skillCount:30},js:{title:'javascript',skillCount:70},vue:{title:'jquery и Vue.js',skillCount:70}}},workflow:{title:'Workflow',skills:{git:{title:'GIT',skillCount:80},terminal:{title:'Terminal',skillCount:50},Gulp:{title:'Gulp',skillCount:10},webpack:{title:'Webpack',skillCount:30}}}}
              svg(style="width:0; height:0; position: absolute;" aria-hidden="true")
                linearGradient#circleGradient(x1="0%" y1="0%" x2="100%" y2="0%")
                  stop(offset="0%" stop-color="#4a00ed")
                  stop(offset="100%" stop-color="#9300e8")
              each item in  skills
                .skill-group-title #{item.title}
                .skill-group
                  each skill in item.skills
                    .skill 
                      svg(width="100%" height="100%" viewBox="0 0 42 42" class="skill-circle")                         
                        circle(class="skill-circle-hole" cx="21" cy="21" r="15.91549430918954" fill="none")
                        circle(class="skill-circle-ring" cx="21" cy="21" r="15.91549430918954" fill="none" stroke="#d2d3d4" stroke-width="3")
                        circle(class="skill-circle-segment" cx="21" cy="21" r="15.91549430918954" fill="none" stroke="url(#circleGradient)" stroke-dasharray=`${skill.skillCount} ${100-skill.skillCount}` stroke-dashoffset="50")              
                      .skill__title #{skill.title}