include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  header
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome
          .no-paralax
            +picture('content/baloon', 'no-parallax-image')
            .triangles
              svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
                polygon(points="0,0 0,100 1000,100")
              svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
                polygon(points="0,100 1000,100 1000,0")
          .parallax         
            each layer in ['7','6','5','4','3','2'] 
              .parallax__layer            
                +image(`parallax/mountain${layer}.png`, 'parallax__image')           
            .parallax__layer
              +image(`parallax/mountain1.png`, 'parallax__image')
              .triangles
                svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
                  polygon(points="0,0 0,100 1000,100")
                svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
                  polygon(points="0,100 1000,100 1000,0")
          section.parallax-content1
            include ./section/section1
          section.parallax-content2
            include ./section/section2           
          section
            include ./section/section3
          section
            include ./section/section4                    
          .budda-wrapper
            .no-paralax
              +picture('content/Budda', 'no-parallax-image')
              .triangles-budda
                svg.triangles-budda__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
                  polygon(points="0,0 1000,100 1000,0")
                svg.triangles-budda__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
                  polygon(points="0,0 0,100 1000,0")
            .parallax-budda        
              each layer in ['6','5','4','3','2'] 
                .parallax__layer            
                  +image(`parallax/budda${layer}.png`, 'parallax__image')           
              .parallax__layer
                +image(`parallax/budda1.png`, 'parallax__image')
                .triangles-budda
                  svg.triangles-budda__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
                    polygon(points="0,0 1000,100 1000,0")
                  svg.triangles-budda__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
                    polygon(points="0,0 0,100 1000,0")
            section.parallax-content2  
              include ./section/section5
            section.parallax-content2
              include ./section/section6  
          footer
            include ./section/footer      